.nav-links {
  width: 100%;
  list-style: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.nav-links a {
  border: 1px solid transparent;
  color: #292929;
  text-decoration: none;
  border-radius: 5%;
  padding: 0.5rem;
}

.nav-links.active {
  background-color: black;
}

.nav-links button {
  border: 1px solid white;
  color: black;
  cursor: pointer;
  font-size: 1em;
  line-height: 1.5;
  background: transparent;
}

.nav-links button:hover,
.nav-links button:active {
  background: #f8dfa0;
  border-color: #292929;
  color: #292929;
}

.nav-links a:hover,
.nav-links a:active,
.nav-links a.active {
  background: #f8dfa0;
  border-color: #292929;
  color: #292929;
}

@media (max-width: 980px) {
  .nav-links {
    flex-direction: column;
  }
  .nav-links li {
    margin: 1rem 0;
  }
}
