.nav-links {
  width: 100%;
  list-style: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.nav-links button {
  border: 1px solid white;
  color: black;
  cursor: pointer;
  font-size: 1em;
  line-height: 1.5;
  background-color: #fd79a8;
  padding: 0.5rem 1rem;
  border-radius: 10%;
}

.nav-links button:hover,
.nav-links button:active {
  background: #d63031;
  border-color: #292929;
  color: #292929;
}

.nav-links a:hover,
.nav-links a:active,
.nav-links a.active {
  color: #292929;
  text-decoration: none;
  border-bottom: 5px solid #55efc4;
}

@media (max-width: 768px) {
  .nav-links {
    flex-direction: column;
  }
  .nav-links li {
    margin: 1rem 0;
  }
}
