.auth-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  border: 1px solid #74b9ff;
  background-color: #bdc3c7;
  border-radius: 5%;
  padding: 2rem 0;
}

.auth-form {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  align-items: center;
  justify-content: center;
}

.auth-form__input {
  margin: 1rem 0;
  cursor: pointer;
  font-size: 1em;
}

.auth-form__submit {
  margin: 1em 0 1rem -1rem;
  cursor: pointer;
  padding: 0 2rem;
  background-color: #6c5ce7;
  padding: 0.1em 1re;
  text-align: center;
}

.button_center {
  align-self: center;
}

.auth-form__title {
  font-size: 1.5em;
}

.auth-form__button {
  width: 40%;
}

@media (max-width: 1050px) {
  .auth-form {
    width: 100%;
  }

  .auth-form__button {
    width: 100%;
    margin: 1rem;
    padding: 0 0 1rem 0;
  }
  .auth-form__submit {
    margin: 0 auto;
    min-width: 70%;
  }
  .auth-form__input {
    width: 100%;
  }
}
