.tasksList__item {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin: 1rem 0;
  cursor: pointer;
  padding: 0.3rem;
  z-index: 1;
}

.tasksList__item:hover {
  transform: translateY(-10px);
  transition: transform 0.5s ease-in;
  z-index: 10;
}

.tasksList__item-id {
  min-width: 3rem;
  align-self: center;
  min-height: 2.8rem;
  align-self: center;
  background-color: #11aaaa;
  border-radius: 50%;
  padding-top: 0.2rem;
  text-align: center;
}

.tasksList__item-text {
  width: 80%;
  margin: 0 3rem;
  padding: 0.2rem 0.5rem;
  flex-wrap: wrap;
  word-break: break-word;
  line-height: 1.5;
  border-radius: 0.5rem;
  border: none;
}

.tasksList__item-text:hover {
  transform: scale(1.01);
  transition: transform 0.5s ease-in;
}

.tasksList__item-text.active {
  box-shadow: 0.05rem 0.1rem 1.5rem 1rem #55efc4;
}

.tasksList__item-text.delayed {
  box-shadow: 0px 1px 25px 0px #fdcb6e;
}

.tasksList__item-text.cancelled {
  box-shadow: 0px 1px 25px 0px #d63031;
}

.fa {
  cursor: pointer;
}

@media (max-width: 768px) {
  .tasksList__item {
    flex-direction: column;
  }
  .tasksList__item-id {
    display: none;
  }
  .tasksList__item-status-adaptive {
    display: none;
  }
  .tasksList__item-status {
    width: 60%;
    height: 5vh;
  }
  .tasksList__item-text {
    width: 100%;
    padding: 0;
    margin: 1em 0;
  }
}
